<!--
  Generated template for the FishingNewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fishing News</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/thumb.jpg"/>
    <div class="card-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/thumb.jpg"/>
    <div class="card-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/thumb.jpg"/>
    <div class="card-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/thumb.jpg"/>
    <div class="card-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
  </ion-card>

</ion-content>
