page-fishing-news {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      margin: 0px;
      width: 100%;
    }

    .card-title {
      position: absolute;
      bottom: 0;
      font-size: 1em;
      color: #fff;
      text-align: left;
      padding: 10px;
    }
  }
}
