<!--
  Generated template for the ShoutOutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shout Out</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-card *ngFor="let item of [1,2,3,4,5,6,7,8]">
  <img src="assets/imgs/thumb.jpg"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
