<!--
  Generated template for the CurrentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Currents</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let item of [1,2,3,4,5,6]">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/thumb.jpg">
      </ion-avatar>
      <h2>Finn</h2>
      <h3>Don't Know What To Do!</h3>
      <p>I've had a pretty messed up day. If we just...</p>
    </ion-item>
  </ion-list>
</ion-content>
