<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let nots of [1,2,3,4,5,6,7,8]">
    <ion-item-sliding>
      <ion-item>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since</p>
        <ion-thumbnail item-end>
          <img src="assets/imgs/thumb.jpg">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
