// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.menu-inner > ion-content, .toolbar-background-ios{
	background-color: color($colors, secondary);
}
.menu-inner .item-ios{
	background-color: color($colors, secondary);
	color: color($colors, white);
}
.item-ios.item-block .item-inner, .list-ios > .item-block:last-child{
	border: 0px;
}
.item-ios ion-avatar ion-img, .item-ios ion-avatar img{
	width: 60px;
	height: 60px;
}
.toolbar-title-ios{
	color: color($colors, white);
}
.news-list ion-label{
    text-overflow: initial;
    white-space: initial;
}
.news-list .item-ios h2{
	font-size: 14px;
}