<ion-menu [content]="content">
  <ion-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/logo.png">
      </ion-avatar> 
      <h2>Sanjay Jayswal</h2>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
