<!--
  Generated template for the FishingExchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Fishing Exchange
    </ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        Available Trips
      </ion-segment-button>
      <ion-segment-button value="ducklings">
        My Trips
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-item *ngFor="let item of [1,2,3,4,5,6,7]">
        <ion-avatar item-start>
          <img src="assets/imgs/thumb.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>I've had a pretty messed up day. If we just...</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'ducklings'">
      <ion-item *ngFor="let item of [1,2,3,4,5,6,7]">
        <ion-avatar item-start>
          <img src="assets/imgs/thumb2.jpg">
        </ion-avatar>
        <h2>Finn</h2>
        <h3>Don't Know What To Do!</h3>
        <p>I've had a pretty messed up day. If we just...</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
